<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="color:white">
    <!-- <a class="navbar-brand" href="{% url 'welcome'%}">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="btn btn-outline-primary" href="{% url 'welcome'%}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-expanded="false">More Apps
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>              <li><a class="nav-link" href="/accounts/login">Login</a></li>
          <li><a class="nav-link" href="/accounts/register">Register</a></li>
          <li><a class="nav-link" href="{% url 'profile' profile.id %}">Profile</a></li>
          <li><a class="nav-link" href="{% url 'newproject' %}">Add Site</a></li>
          <li><a class="nav-link" href="{% url 'newprofile' %}">Add Profile</a></li>
          <li><a class="nav-link" href="{% url 'contact' %}">Contacts</a></li>
          <li><a class="nav-link" href="{% url 'subscribe' %}">Subscribe</a></li>
          <li><a class="nav-link" href="{% url 'myprojects' %}">My Projects</a></li>
          <li><a class="nav-link" href="{% url 'password' %}">Forgot Password</a></li>

            </li>
          </ul>

          <!-- <br> -->
          <!-- <li>
              <a class="nav-link" href="{% url 'contact'%}">Contacts</a>
            </li>
            <a class="nav-link" href="{% url 'subscribe'%}">Subscribe</a> -->
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-expanded="false">Account
                    <span class="caret"></span>
                </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a  href="{%url 'welcome'%}">Home</a>
            </li>
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <li>
        <a class='btn btn-default' href="/accounts/login">Login</a>
      </li>
  </ul>

      {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search projects" aria-label="Search" name="project">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <style>
   
  li{
     color:green;
  }
  </style> 