{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<hr>
<hr>
<div class="container" style="text-align:center">
<h1>SUBSCRIBE TO MY SITE</h1>
<p>You will recieve an Email concerning this subcription</p>
</div>
<form  action="{%url 'subscribe'%}" method="post" style="margin-left: 30%;margin-right: 30%;color: white">
        {%csrf_token%}
    
        {% bootstrap_form letterForm layout='inline'%}
        <input type="submit" class="btn btn-primary" value="Subscribe">
      </form>
      <style>
        .jumbotron {
            background-size: cover;
        }
        </style>
        </div>
      {% endblock %}